#padding {
  padding: 20px;
  float: right;
}
#float-left{
  float: left;
}
#float-right{
  float: right;
}

img {
  height: 150px;
  width: 250px;
}
.plus{
  background-color: #e6ffe6;

}
.pp{
  margin: inherit;
}
.aa{
  border: 1px;
  border-color: #7a7a52;
  background-color: #ccfff5;
}
